/*Global*/

@import url('https://fonts.googleapis.com/css?family=Poppins&display=swap');
body {
    font-family: 'Poppins', sans-serif;
	
}

/**/

.navbar {
    background-color: #652d82;
    color: #fff;
}

.navbar-nav {
    display: inline-block;
}

.navbar-brand {
    color: #fff;
}

.navbar-brand:hover {
    color: #fff;
}

.navbar-brand i {
    color: #fff;
}
li{
		text-align: right;
	 margin: 20px 20px 20px 20px;

	
}
		
p{

	font-family: Droid Arabic Kufi;
	text-align: right;
	font-size: 15px;
	color: black;
    margin: 20px 20px;
    margin-top: 10px;

}
#hp{
	float: right;
	 margin: 20px 20px 20px 20px;
}
