<style>
.button {
  background-color: #4CAF50; /* Green */
  border: none;
  color: white;
  padding: 10px 85px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin-bottom: 25px;
  margin-top: 40px;
  margin-left: 55px;
  margin-right: 25px;
  transition-duration: 0.3s;
  cursor: pointer;
 
}

.button2 {
  background-color: white; 
  color: black; 
  border: 2px solid #008CBA;

}

.button2:hover {
  background-color: #008CBA;
  color: white;

}

.next {
  background-color: #4CAF50;
  color: white;
  text-align: center;
  float: right;
}

a {
  text-decoration: none;
  display: inline-block;
  padding: 2px 2px;
}

a:hover {
  background-color: #ddd;
  color: black;
}

  </style>